<app-nav-bar>
    <ng-container>
    <h2>Editar Cargo</h2>
    <form>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" name="nome" matInput placeholder="Ex. Funcao..." name="nome" [(ngModel)]="cargo.nome" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea name="descricao" matInput placeholder="Ex. Descrever o que o cargo exige..."
            name="descricao" rows="2" [(ngModel)]="cargo.descricao" required></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Salario</mat-label>
            <input type="number" name="salario" matInput placeholder="Ex. 25000" name="salario" [(ngModel)]="cargo.salario" required>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" (click)="update()">Editar</button>
            <a type="button" mat-raised-button color="warn" routerLink="/cargos">Cancelar</a>
    </form>
    </ng-container>
</app-nav-bar>
/** teste */
